:root {
    --color-primary:#782bf7;
    --color-purple-900:#9355F9;
    --color-light-gray:#cfd0d0;
    --color-light-gray-200:#aaabab;
    --color-light-gray-500:#545454;
    --color-gray:#4e4f50;
    --color-gold:#fcd120;
    --neutral-white:#ffffff;
    --neutral-color-black:#131516;
    --neutral-color-gray:#2b2c2d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* Utilities */
.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-column {
    flex-direction: column;
}
.inner-content {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.navigation {
    background:var(--neutral-white);
    padding:0 2.25em;
    gap: 1em;
    min-height: 75px;
    max-width: 1438px;
    margin:auto;
}
.logo img {
    display: block;
    max-width: 160px;
}
.menu-items {
    gap:2em;
}
.menu-link {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color:var(--neutral-color-black);
}
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0px 2px 30px 1px rgba(0, 0, 0, 0.15);
    width: 250px;
    z-index: 2;
}
.dropdown-menu > li > a {
    font-size: 0.875rem;
    font-weight: 700;
    color:var(--neutral-color-black);
    text-transform: uppercase;
    display: block;
    padding: 0.75em 1.5em;
    text-align: center;
    transition: all 300ms;
}
.dropdown-menu > li:hover > a {
    color:var(--neutral-white); 
    background: var(--color-primary);
}
/* Show the dropdown menu when hovering over the dropdown container */
.dropdown-container:hover .dropdown-menu {
    display: block;
}
.dd-menu-link {
    display: inline-flex;
    align-items: center;
    gap:0.5em;
    padding:1.5em 0;
}
.dropdown-container:hover svg {
    transform: rotate(180deg);
}
.btn {
    display: inline-block;
    padding:0.75em 0.875em;
    border: 2px solid transparent;
    background:var(--neutral-white);
    color:var(--neutral-color-black);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
}
.btn-small {
    font-size: 0.875rem;
    padding: 0.5em 0.875em;
}
.btn-signin {
    border-color: var(--neutral-color-black);
}
.btn-signin:hover {
    background:var(--neutral-color-black);
    color:var(--neutral-white);
}
.btn-bookademo {
    background:var(--color-primary);
    color:var(--neutral-white);
    border-color:var(--color-primary);
    margin-left: 0.25rem;
}
.btn-bookademo:hover {
    background:var(--color-purple-900);
    border-color:var(--color-purple-900);
}
.btn-toggle {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1em;
    padding: 0.25em 0em 0.25em 0.5em;
    cursor: pointer;
}
.btn-open {
    display: none;
}
.navigation-md {
    display: none;
}
/* Footer */
.footer {
    background:var(--neutral-color-black);
    padding: 4.5em 2.25em;
}
.footer-wrapper {
    display: grid;
    grid-template-columns: auto auto auto minmax(150px, 338px);
    gap:2em;
}
.footer-logo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap:1.75em;
}
.btn-cta {
    font-size: 0.875rem;
    background:var(--color-primary);
    color:var(--neutral-white);
    border: none;
    text-align: center;
}
.btn-cta:hover {
    background:var(--color-purple-900);
}
.footer-menu-items {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.footer-menu-link,.footer-submenu-items > li:first-child, .footer-submenu-link {
    color:var(--neutral-white);
    font-weight: 700;
    text-transform: uppercase;
    transition: color 300ms;
}
.footer-menu-link:hover, .footer-submenu-link:hover, .footer-submenu-items > li:hover:not(:first-child) .footer-submenu-link {
    color:var(--color-gold);
}
.footer-submenu-items > li:first-child {
    margin-bottom: 1em;
    list-style-type: none;
}
.footer-submenu-items > li:not(:first-child) .footer-submenu-link {
    color:var(--color-light-gray);
    text-transform: capitalize;
    line-height: 2em;
    font-weight: 400;
}
.menu-and-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1em;
}
.social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.social-links > a {
    transition: background-color 300ms;   
}
.social-links > a:hover {
    background:var(--neutral-white);
}
.social-links > a > img {
    border:1px solid var(--color-gray);
    display: block;
    transition: filter 300ms;
}
.social-links > a:hover > img {
    filter:invert(1);
}
form {
    background: var(--neutral-color-gray);
    padding:2em;
}
h6 {
    font-size:1.25rem;
    font-weight: 400;
    line-height: 108%;
    font-family: "Viga", sans-serif;
    color:var(--neutral-white);
    margin-bottom: 1rem;
}
.form-group {
    display: flex;
    height: 50px;
}
.form-group input[type="email"] {
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    padding:1rem;
    background:var(--neutral-white);    
    color:var(--color-light-gray-500);
    border: none;
    outline: none;
}
.btn-arrow-icon {
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px !important;
    height: 100%;
    padding: 1.125em;
    cursor: pointer;
    border: none;
    transition: background-color .3s;
}
.btn-arrow-icon:hover {
    background:var(--color-purple-900);
}
form p {
    font-size: 0.875rem;
    margin-top: 1.25rem;
    color:var(--color-light-gray-200);
}
.horizontal-line {
    border: 1px solid var(--neutral-color-gray);
    margin: 3.5em 0;
}
.copyrights-and-legal {
    gap:1.5em;
}
.copyrights-and-legal p, .terms-and-policy > li > a {
    color:var(--neutral-white);
    line-height: 124%;
    transition:color 300ms;
}
.terms-and-policy {
    display: inherit;
    gap:2.5em;
}
.terms-and-policy > li:hover > a {
    color:var(--color-gold);
}
@media (max-width:1366px) {
    .menu-items {
        gap:1.5em;
    }
}
@media (max-width:1200px) {
    .logo img {
        max-width: 140px;
    }
    .menu-items {
        gap:1em;
    }
    .menu-link, .btn-small, .dropdown-menu > li > a {
        font-size: 0.75rem;
    }
}
@media (max-width:1024px) {
    .btn-small {
        font-size: 0.875rem;
    }
    .navigation {
        gap: 0.75em;
    }
    .top-header {
        width: 100%;
        gap:1em;
    }
    .logo img {
        max-width: 160px;
    }
    .nav {
        display: none;
    }
    .navigation-md {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        padding: 2em;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        box-shadow: 2px 8px 23px 3px rgba(0,0,0,0.2);
        gap:2em;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;
        z-index: 2;
    }
    .show-navigation {
        transform: translateX(0);
    }
    .nav-md {
        width: 100%;
    }
    .nav-md .menu-items {
        align-items: stretch;
        flex-direction: column;
        gap:2.5em;
        max-height: 60vh;
        overflow-x: hidden;
    }
    .dropdown-content {
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s;
        position: relative;
        background: var(--neutral-white);
        min-width: 160px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap:2em;
        width: 100%;
        padding-left: 1.5em;
    }
    .dropdown-content > a {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--neutral-color-black);
    }
    .dropdown.active .dropdown-content {
        max-height: 300px; /* Adjust the value as needed */
        padding-top: 1.5em;
    }
    .dropdown.active svg {
        transform: rotate(90deg);
    }
    .dd-menu-link {
        display: flex;
        justify-content: space-between;
    }
    .nav-md .menu-link {
        font-size: 1rem;
        display: flex;
        width: 100%;
    }
    .dd-menu-link {
        padding: 0;
    }
    .navigation-md .btns {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap:1em;
        width: 100%;
        align-items: stretch;
    }
    .navigation-md .btn {
        font-size: 0.95rem;
        padding: 0.75em 0.88em;
        line-height: 1.1em;
        text-align: center;
    }
    .btns {
        margin-left: auto;
    }
    .btn-open {
        display: block;
    }
    .navigation-md .btn-bookademo {
        margin-left: 0;
    }
}
@media (max-width:991px) {
    .navigation {
        background:var(--neutral-white);
        padding:0 2em;
    }
    .navigation-md {
        padding: 2em;
    }
    .footer {
        padding:4em 2em;
    }
    .footer-wrapper {
        gap:1em;
    }
    form {
        padding: 1.5em;
    }
    h6 {
        font-size: 1.125rem;
    }
    .footer-menu-items {
        gap: 1.75em;
    }
    .footer-menu-link, .footer-submenu-items > li:first-child, .footer-submenu-link {
        font-size: 0.95rem;
    }
    .footer-submenu-items > li:not(:first-child) .footer-submenu-link {
        font-size: 0.9rem;
    }
}
@media (max-width:767px) {
    .navigation {
        padding: 0 1em;
        min-height: 70px;
    }
    .navigation-md {
        padding: 1.5em 1em;
    }
    .footer {
        padding:4em 1em;
    }
    .footer-wrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer-logo {
        align-items: center;
    }
    .social-links {
        justify-content: center;
    }
    .copyrights-and-legal {
        flex-direction: column;
    }
    .terms-and-policy {
        gap: 2em;
    }
    .copyrights-and-legal p, .terms-and-policy > li > a {
        font-size: 0.875rem;
    }
    .footer-wrapper {
        gap:1em;
    }
    .footer-menu-items {
        gap:1em;
    }
    .footer-logo {
        gap:1.5em;
        margin-bottom: 1em;
    }
    form {
        margin-top: 2em;
    }
    .footer-submenu-items {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .footer-submenu-items > li:first-child {
        margin-bottom: 0;
    }
    .footer-submenu-items > li:not(:first-child) .footer-submenu-link {
        line-height: initial;
    }
    .footer-menu-link, .footer-submenu-items > li:first-child, .footer-submenu-link {
        font-size: 0.875rem;
    }
}
@media (max-width:575px) {
    .navigation {
        gap: 0.25em;
    }
    .navigation-md {
        gap: 2em;
    }
    .logo > img {
        max-width: 140px;
    }
    .btn-signin {
        display:none;
    }
    .navigation-md .btn-signin {
        display:block;
    }   
    .btn-bookademo {
        font-size: 0.75rem;
    }
}